<div class="content">
  <div class="box">
    <div class="box-header with-border bg-purple-active color-palette ">
      <h3 class="box-title">Recursos</h3>
    </div>
    <div class="box-body" *ngIf="resourcesCategory !== undefined">


      <form>
        <div class="form-group">
          <label for="selectionCat">Selecciona una categoria</label>
          <select name="selection" [ngModel]="resourceCateSelect" (ngModelChange)="onChangeCateg($event)">
            <option [ngValue]="cat" *ngFor="let cat of resourcesCategory;  let i = index">{{cat.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="selectionRec">Selecciona un recurso</label>
          <select name="selection" [ngModel]="resourceSelect" (ngModelChange)="onChangeReso($event)">
            <option [ngValue]="reso" *ngFor="let reso of resourceList;  let i = index">{{reso.name}}</option>
          </select>
        </div>

        <div class="row" *ngIf="resourceSelect !== null">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="name">Nombre del recurso</label>
              <input class="form-control" [(ngModel)]="resourceSelect.name" name="name" placeholder="Nombre del recurso">
            </div>





            <div class="form-group">
              <span class="input-group-addon">
                <label for="active">Activar</label>
                <input type="checkbox" name="active" [ngModel]="active" (ngModelChange)="onActiveChange($event)">
              </span>

            </div>
            <button type="button" [disabled]="loading" class="btn btn-primary" (click)="actualizar($event,resourceSelect)">Actualizar Recurso</button>

            <button type="button" class="btn btn-danger" (click)="cancelar($event,selectedPlanification)">Cancelar Planeacion</button>

          </div>

          <div class="col-sm-6">
            <button type="button" class="btn btn-primary" (click)="descargarArchivo($event)">Descargar Archivo</button>

          </div>
        </div>






      </form>



    </div>
  </div>
</div>