<div class="content">
  <div class="box ">
    <div class="box-header with-border bg-purple-active color-palette ">
      <h3 class="box-title">Subir un archivo</h3>
    </div>
    <div class="box-body">

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="name">Nombre</label>
              <input type="text" class="form-control" id="name" placeholder="Nombre" formControlName="name">
            </div>
            <div class="form-group">
              <label for="description">Sinopsis</label>
              <textarea rows="5" class="form-control" id="description" placeholder="Sinopsis" formControlName="description"></textarea>
            </div>
            <div class="form-group">
              <label for="formative_field">Categoria</label>
              <select class="form-control" id="formative_field" formControlName="formative_field">
                <option>Lenguaje y Comunicación</option>
                <option>Pensamiento Matemático</option>
                <option>Exploración y comprensión del mundo natural y social</option>
                <option>Artes</option>
                <option>Educación Socio-Emocional</option>
                <option>Educación Física</option>
                <option>Autonomía Curricular</option>
                
              </select>
            </div>
            <div class="form-group">
              <span class="input-group-addon">
                <label for="preimum">PREMIUM</label>
                <input id="preimum" (change)="onChange( $event.target.checked)" type="checkbox" aria-label="PREMIUM">
              </span>

            </div>
            <!-- /input-group -->
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="pdf">Archivo PDF</label>
              <input type="file" id="pdf" (change)="onFileChangePDF($event)" #filePDF>
              <button type="button" class="btn btn-sm btn-default" (click)="clearFilePDF()">Seleccionar otro PDF</button>
            </div>

            <div class="form-group">
              <label for="imagen">Imagen</label>
              <input type="file" id="imagen" (change)="onFileChangeImage($event)" #fileImagen>
              <button type="button" class="btn btn-sm btn-default" (click)="clearImage()">Seleccionar otra Imagen</button>
            </div>

            <div class="form-group">
              <label for="word">Archivo Word</label>
              <input type="file" id="word" (change)="onFileChangeWord($event)" #fileWord>
              <button type="button" class="btn btn-sm btn-default" (click)="clearFileWord()">Seleccionar otro Word</button>
            </div>

            <div class="form-group">
              <label for="preview">Archivo Previo</label>
              <input type="file" id="preview" (change)="onFileChangePreview($event)" #filePreview>
              <button type="button" class="btn btn-sm btn-default" (click)="clearFilePreview()">Seleccionar otro Previo</button>
            </div>


            <button type="submit" [disabled]="form.invalid || loading" class="btn btn-success">Enviar
              <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i>
            </button>
          </div>

        </div>





      </form>

    </div>
  </div>
</div>