<div class="content">

  <div class="row">
    <div class="col-sm-6">
      <div class="box">
        <div class="box-header with-border bg-purple-active color-palette ">
          <h3 class="box-title">Nueva Categoria</h3>
        </div>
        <div class="box-body">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="form-group">
              <label for="name">Nombre</label>
              <input type="text" class="form-control" id="name" placeholder="Nombre" formControlName="name">
            </div>
            <button type="submit" [disabled]="form.invalid || loading" class="btn btn-success">Enviar
              <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i>
            </button>
          </form>
        </div>
      </div>
    </div>

    
    <div class="col-sm-6">
      <div class="box">
        <div class="box-header with-border bg-purple-active color-palette ">
          <h3 class="box-title">Modificar Categoria</h3>
        </div>
        <div class="box-body">

          <form>
            <div class="form-group">
              <label for="selectionCat">Selecciona una categoria</label>
              <select name="selection" [ngModel]="resourceCateSelect" (ngModelChange)="onChangeCateg($event)">
                <option [ngValue]="cat" *ngFor="let cat of resourcesCategory;  let i = index">{{cat.name}}</option>
              </select>
            </div>
            <div *ngIf="resourceCateSelect !== undefined">
              <div class="form-group">
                <label for="name">Nombre del recurso</label>
                <input class="form-control" [(ngModel)]="resourceCateSelect.name" name="name" placeholder="Nombre del recurso">
              </div>
              <div class="form-group">
                <span class="input-group-addon">
                  <label for="active">Activar</label>
                  <input type="checkbox" name="active" [ngModel]="active" (ngModelChange)="onActiveChange($event)">
                </span>

              </div>
              <button type="button" [disabled]="loading" class="btn btn-primary" (click)="actualizarCategoria($event,resourceSelect)">Actualizar Recurso</button>

              <button type="button" class="btn btn-danger" (click)="cancelarCategoria($event,resourceSelect)">Cancelar Planeacion</button>
            </div>
          </form>
          <!--Botones de operacion-->





        </div>
      </div>
    </div>




  </div>
</div>