<div class="content">
  <div class="box">
    <div class="box-header with-border bg-purple-active color-palette ">
      <h3 class="box-title">Planeaciones</h3>
    </div>
    <div class="box-body" *ngIf="planifications !== null">
     

      <form >
        <div class="form-group">
          <label for="selection">Selecciona una planeación</label>
          <select name="selection" [ngModel]="selectedPlanification" (ngModelChange)="onChangeObj($event)">
            <option [ngValue]="plan" *ngFor="let plan of planifications;  let i = index">{{plan.name}}</option>
          </select>
        </div>

        <div class="row" *ngIf="selectedPlanification !== null">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="name">Nombre de la planeacion</label>
              <input class="form-control" [(ngModel)]="selectedPlanification.name" name="name" placeholder="Sinopsis">
            </div>

            <div >
              <label >Número de Descargas</label>
              <span class="input-group-addon">{{selectedPlanification.conteo}}</span>
            </div>

            <div class="form-group">
              <label for="description">Sinopsis</label>
              <textarea rows="5" class="form-control" id="description" [(ngModel)]="selectedPlanification.description" name="description"
                placeholder="Sinopsis"></textarea>
            </div>

            <div class="form-group">
              <label for="formative_field">Categoria</label>
              <select  name="formative_field" [(ngModel)]="selectedPlanification.formative_field">
                <option>Lenguaje y Comunicación</option>
                <option>Pensamiento Matemático</option>
                <option>Exploración y comprensión del mundo natural y social</option>
                <option>Artes</option>
                <option>Educación Socio-Emocional</option>
                <option>Educación Física</option>
                <option>Autonomía Curricular</option>
                
              </select>
            </div>

            <div class="form-group">
              <span class="input-group-addon">
                <label for="preimum">PREMIUM</label>
                <input type="checkbox" name="premium"
                    [ngModel]="premium" (ngModelChange)="onPremiumChange($event)"> 
              </span>

            </div>
            <div class="form-group">
              <span class="input-group-addon">
                <label for="active">Activar</label>
                <input type="checkbox" name="active"
                    [ngModel]="active" (ngModelChange)="onActiveChange($event)"> 
              </span>

            </div>
            <button type="button"  [disabled]="loading" class="btn btn-primary" (click)="actualizar($event,selectedPlanification)">Actualizar Planeacion</button>
            <button type="button"  class="btn btn-danger" (click)="cancelar($event,selectedPlanification)">Cancelar Planeacion</button>
              
          </div>

          <div class="col-sm-6">
              <button type="button"  class="btn btn-primary" (click)="descargarArchivo($event)">Descargar Archivo</button>
              
          </div>
        </div>





       
      </form>



    </div>
  </div>
</div>