<!--
<form (submit)="loginUser($event)">
  <input type="text" placeholder="UserName" id="username">
  <input type="password" placeholder="Password" id="password">
  <input type="submit" value="Submit">
  
</form>

<form (submit)="loginWithFacebook()">
  
  <input type="submit" value="Login with Facebook">
  
</form>
-->
<div class="login-box back-pers">
    <div class="login-logo">
      <img src="assets/dist/img/sereyd.png" width="100" height="100">
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Inicia Sesión</p>
  
      <form (submit)="loginUserAdmin($event)">
        <div class="form-group has-feedback">
          <input type="email" class="form-control" placeholder="Email" id="username">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" placeholder="Password" id="password">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-8">
  
          </div>
          <!-- /.col -->
          <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Siguiente</button>
  
          </div>
          <!-- /.col -->
        </div>
      </form>
  
      
      <!-- /.social-auth-links -->
  
  
    </div>
    <!-- /.login-box-body -->
  </div>
  <!-- /.login-box -->