<header class="main-header">

  <!-- Logo -->
  <a class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">

      <div class="login-logo">
        <img src="assets/dist/img/sereyd.png" width="50" height="50">
      </div>
    </span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">
      <div class="login-logo">

        <div class="login-logo">
          <b>SEREYD</b>
        </div>
      </div>
    </span>
  </a>

  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- Messages: style can be found in dropdown.less-->

        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="{{myAuthUser.image}}" class="user-image" alt="User Image">
            <span class="hidden-xs">{{myAuthUser.name}}</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img src="{{myAuthUser.image}}" class="img-circle" alt="User Image">

              <p>
                {{myUser.name}}
              </p>
            </li>

            <!-- Menu Footer-->
            <li class="user-footer">

              <div class="pull-right">
                <a (click)=logout($event) class="btn btn-default btn-flat">Salir!</a>

              </div>
            </li>
          </ul>
        </li>
        <!-- Control Sidebar Toggle Button -->
       
      </ul>
    </div>

  </nav>
</header>