<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>

      </button>
      <img src="assets/dist/img/sereyd.png" width="45" height="45">
    </div>




    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administración de Usuarios
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li routerLinkActive="active">
              <a [routerLink]="['planning']" href="">Búsqueda de Usuarios
                <span class="sr-only">(current)</span>
              </a>
            </li>

            <li routerLinkActive="active">
              <a [routerLink]="['loadplanning']" href="">Cargar Planeacion
                <span class="sr-only">(current)</span>
              </a>
            </li>



          </ul>
        </li>


        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Planeaciones
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li routerLinkActive="active">
              <a [routerLink]="['planning']" href="">Administracion de Planeaciones
                <span class="sr-only">(current)</span>
              </a>
            </li>

            <li routerLinkActive="active">
              <a [routerLink]="['loadplanning']" href="">Cargar Planeacion
                <span class="sr-only">(current)</span>
              </a>
            </li>



          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Recursos
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li routerLinkActive="active">
              <a [routerLink]="['categoryresource']" href="">Administracion de Categorias
                <span class="sr-only">(current)</span>
              </a>
            </li>

            <li routerLinkActive="active">
              <a [routerLink]="['resource']" href="">Administracion de Recursos
                <span class="sr-only">(current)</span>
              </a>
            </li>



            <li routerLinkActive="active">
              <a [routerLink]="['loadresource']" href="">Cargar Recursos
                <span class="sr-only">(current)</span>
              </a>
            </li>



          </ul>
        </li>




      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a [routerLink]="['/logoutAdmin']" href="#">Cerrar Sesión</a>
        </li>
      </ul>




    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>




<router-outlet></router-outlet>