<app-appheader *ngIf="myAuthUserAdmin !== undefined" [myAuthUser]="myAuthUserAdmin"></app-appheader>
<app-appmenu  *ngIf ="myAuthUserAdmin !== undefined" [myAuthUser]="myAuthUserAdmin"></app-appmenu>


