<div class="login-box back-pers">
    <div class="login-logo">
      <img src="assets/dist/img/sereyd.png" width="100" height="100">
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Sesión Finalizada</p>
  
  
      <button routerLink="/" class="btn btn-primary btn-block btn-flat"> INICIO</button>
  
  
  
  
      <!-- /.social-auth-links -->
  
  
    </div>
    <!-- /.login-box-body -->
  </div>