<div class="content">
  <div class="box ">
    <div class="box-header with-border bg-purple-active color-palette ">
      <h3 class="box-title">Subir un archivo</h3>
    </div>
    <div class="box-body">

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="name">Nombre</label>
              <input type="text" class="form-control" id="name" placeholder="Nombre" formControlName="name">
            </div>

            <div class="form-group">
              <label>Categoria</label>
              <select  class="form-control" id="id_category_resource" formControlName="id_category_resource">
                <option *ngFor="let cat of resourcesCategory" [ngValue]="cat.id_resource">{{cat.name}}</option>
              </select>
            </div>



            <!-- /input-group -->
          </div>
          <div class="col-sm-6">

            <div class="form-group">
              <label for="pdf">Archivo PDF</label>
              <input type="file" id="pdf" (change)="onFileChangePDF($event)" #filePDF>
              <button type="button" class="btn btn-sm btn-default" (click)="clearFilePDF()">Seleccionar otro PDF</button>
            </div>

          </div>

        </div>



        <button type="submit" [disabled]="form.invalid || loading" class="btn btn-success">Enviar
          <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i>
        </button>

      </form>

    </div>
  </div>
</div>