<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="{{myAuthUser.image}}" class="img-circle user-image"  alt="User Image">
      </div>
      <div class="pull-left info">
        <p>{{myAuthUser.name}}</p>
        
      </div>
    </div>

    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">Panel de Adminsitración</li>
      <li class="treeview ">
        <a  href="#" >
          <i class="fa fa-dashboard"></i>
          <span>Mis Grupos</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li *ngFor="let g of infoUsuario;let i = index"  >

            <a  id="linkGrupo-{{i}}" (click)="changeGroup($event,g.group.id_group)" href="">
              <i class="fa fa-circle-o"></i> {{ g.group.grade }} - {{g.group.group_number}}
            </a>
          </li>

        </ul>
      </li>
      <li [routerLinkActive]="['active']">
        <a id="linkPlanning" (click)="changePlanning($event)" href="#"  >
          <i class="fa fa-circle-o"></i>
          <span>Planeaciones
            
          </span>
        </a>
      </li>

      

    

    </ul>
  </section>
  <!-- /.sidebar -->
</aside>