<div class="content-wrapper" >
  <!-- Content Header (Page header) -->
  <section class="content-header">
      <h1>
          #SOY
          <b>EDUCADORA</b>SEREYD
      </h1>

  </section>

  <!-- Main content -->
  <section class="content">
      <div class="box box-default" *ngIf="groupSelect === undefined">
          <div class="app-loading">
              <div class="logo"></div>
              <svg class="spinner" viewBox="25 25 50 50">
                  <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
              </svg>
          </div>
      </div>


      <div class="box box-default" *ngIf="groupSelect !== undefined">
          <div class="box-header with-border">
              <h3 class="box-title box-primary">
                  <p>Escuela: {{ groupSelect.group.school}}</p>
              </h3>
          </div>
          <div class="box-header with-border">
              <i class="fa fa-group"></i>
              <h3 class="box-title box-primary">Grupo: {{ groupSelect.group.grade }} - {{groupSelect.group.group_number}}</h3>

          </div>

          <!-- Cuadros principales -->
          <div class="box-body">
              <div class="row">
                  <div class="col-md-4 col-sm-6 col-xs-12">
                      <div class="info-box">
                          <span class="info-box-icon bg-aqua">
                              <i class="fa fa-check-circle-o"></i>
                          </span>

                          <div class="info-box-content">
                              <span class="info-box-text">Asistencia</span>
                              <span class="info-box-number">{{groupSelect.group.attendance_percent}}</span>
                          </div>
                          <!-- /.info-box-content -->
                      </div>
                      <!-- /.info-box -->
                  </div>
                  <div class="col-md-4 col-sm-6 col-xs-12">
                      <div class="info-box">
                          <span class="info-box-icon bg-green">
                              <i class="fa fa-smile-o"></i>
                          </span>

                          <div class="info-box-content">
                              <span class="info-box-text">Conducta</span>
                              <span class="info-box-number">{{calculateGroupBehaviorByDes()   }}</span>
                          </div>
                          <!-- /.info-box-content -->
                      </div>
                      <!-- /.info-box -->
                  </div>
                  <div class="col-md-4 col-sm-6 col-xs-12">
                      <div class="info-box">
                          <span class="info-box-icon bg-yellow">
                              <i class="fa fa-group"></i>
                          </span>

                          <div class="info-box-content">
                              <span class="info-box-text">Alumnos</span>
                              <span class="info-box-number">{{countBoys()}} niños {{countGirls()}} niñas Total:{{countBoys() + countGirls()}}</span>
                          </div>
                          <!-- /.info-box-content -->
                      </div>
                      <!-- /.info-box -->
                  </div>

              </div>
          </div>
          <!-- ./Cuadros principales-->

          <!-- /.box-header -->
          <div class="box-body">

              <div class="nav-tabs-custom">
                  <ul class="nav nav-tabs ">
                      <li class="active">
                          <a href="#tabAlumno" data-toggle="tab" aria-expanded="true">Alumnos</a>
                      </li>
                      <li class="">
                          <a href="#tabCoop" data-toggle="tab" aria-expanded="false">Cooperación</a>
                      </li>
                      <li class="">
                          <a href="#tabTarea" data-toggle="tab" aria-expanded="false">Tarea</a>
                      </li>
                      <li class="">
                          <a href="#tabAviso" data-toggle="tab" aria-expanded="false">Aviso y/o Junta</a>
                      </li>
                  </ul>
                  <div class="tab-content">
                      <div class="tab-pane active" id="tabAlumno">
                          <div class="box-group" id="accordionStudents">
                              <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                              <div class="panel box box-primary" *ngFor="let student of groupSelect.students;  let i = index">
                                  <div class="box-header with-border">
                                      <h4 class="box-title">

                                          <a data-toggle="collapse" data-parent="#accordionStudents" href="#collapseStu{{i}}" aria-expanded="true" class="">
                                              <div class="user-block">
                                                  <img class="img-circle" src="{{student.image | imageServer}}" alt="User Image">
                                                  <span class="username">
                                                      <a href="#">{{student.lastname}} - {{student.name}} </a>

                                                  </span>
                                                  <span class="description">{{student.birthday}}</span>
                                              </div>


                                          </a>
                                      </h4>
                                  </div>
                                  <div id="collapseStu{{i}}" class="panel-collapse collapse" *ngIf="studentScholar[i] !== undefined">


                                      <div class="box-body">
                                          <div class="row">
                                              <div class="col-md-6 col-sm-6 col-xs-12">
                                                  <div class="row">

                                                      <div class="col-md-6 col-sm-6 col-xs-12">


                                                          <div class="info-box bg-aqua">
                                                              <span class="info-box-icon">
                                                                  <i class="fa fa-check-circle-o"></i>
                                                              </span>

                                                              <div class="info-box-content">
                                                                  <span class="info-box-text">Faltas</span>
                                                                  <span class="info-box-number">{{studentScholar[i].attendance.count}}</span>
                                                              </div>
                                                              <!-- /.info-box-content -->
                                                          </div>
                                                          <!-- /.info-box -->

                                                          <div class="info-box  bg-green">
                                                              <span class="info-box-icon">
                                                                  <i class="fa fa-smile-o"></i>
                                                              </span>

                                                              <div class="info-box-content">
                                                                  <span class="info-box-text">Conducta : </span>
                                                                  <span class="info-box-number">{{studentScholar[i].behavior.description}}</span>
                                                              </div>
                                                              <!-- /.info-box-content -->
                                                          </div>
                                                          <!-- /.info-box -->

                                                          <div class="info-box  bg-red">
                                                              <span class="info-box-icon">
                                                                  <i class="fa  fa-mobile-phone"></i>
                                                              </span>

                                                              <div class="info-box-content">
                                                                  <span class="info-box-text">Contacto de Emergencia: </span>
                                                                  <span class="info-box-number">{{student.emergency_contact}}</span>
                                                                  <span class="info-box-number">{{student.email}}</span>
                                                              </div>
                                                              <!-- /.info-box-content -->
                                                          </div>
                                                          <!-- /.info-box -->
                                                      </div>
                                                      <!-- /.col -->
                                                      <div class="col-md-6 col-sm-6 col-xs-12">



                                                          <div class="info-box  bg-yellow">
                                                              <span class="info-box-icon">
                                                                  <i class="fa fa-files-o"></i>
                                                              </span>

                                                              <div class="info-box-content">
                                                                  <span class="info-box-text">Aprovechamiento</span>
                                                                  <span class="info-box-number">{{studentScholar[i].school_performance}}</span>
                                                                  <div class="progress">
                                                                      <div class="progress-bar" [ngStyle]="setStatusBar(studentScholar[i].school_performance)"></div>
                                                                  </div>
                                                              </div>
                                                              <!-- /.info-box-content -->
                                                          </div>
                                                          <!-- /.info-box -->
                                                          <div class="info-box bg-red">
                                                              <span class="info-box-icon ">
                                                                  <i class="fa fa-star-o"></i>
                                                              </span>

                                                              <div class="info-box-content">
                                                                  <span class="info-box-text">Diagnostico</span>
                                                                  <span class="info-box-number">{{studentScholar[i].diagnostic}}</span>
                                                              </div>

                                                              <div class="progress">
                                                                  <div class="progress-bar" [ngStyle]="setStatusBar(studentScholar[i].diagnostic)"></div>
                                                              </div>
                                                              <!-- /.info-box-content -->
                                                          </div>
                                                          <!-- /.info-box -->

                                                          <!-- /.col -->
                                                      </div>


                                                  </div>
                                              </div>

                                              <div class="col-md-6 col-sm-6 col-xs-12">
                                                  <div class="box box-widget">
                                                      <div class="box-header with-border">
                                                          <h3 class="box-title">Campos Formativos</h3>
                                                      </div>
                                                      <!-- /.box-header -->
                                                      <div class="box-footer box-comments">
                                                          <div class="box-comment">


                                                              <div class="comment-text">
                                                                  <div class="row row-center">
                                                                      <div class="col-md-4 col-sm-12 col-xs-12">
                                                                          <span>Lenguaje y Comunicación </span>
                                                                      </div>
                                                                      <div class="col-md-8 col-sm-12 col-xs-12">
                                                                          <div class="row">
                                                                              <div class="col-md-9 col-sm-10 col-xs-10">
                                                                                  <div class="progress">

                                                                                      <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="studentScholar[i].language" aria-valuemin="0"
                                                                                          aria-valuemax="100" [ngStyle]="setStatusBar(studentScholar[i].language)">
                                                                                      </div>
                                                                                  </div>
                                                                              </div>
                                                                              <div class="col-md-3 col-sm-2 col-xs-2">
                                                                                  <span class="badge bg-green pull-right">{{studentScholar[i].language}}</span>
                                                                              </div>
                                                                          </div>

                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <div class="box-comment">
                                                              <div class="comment-text">


                                                                  <div class="row  row-center">
                                                                      <div class="col-md-4 col-sm-12 col-xs-12">
                                                                          <span class="align-middle">Pensamiento Matemático</span>
                                                                      </div>
                                                                      <div class="col-md-8 col-sm-12 col-xs-12">
                                                                          <div class="row">
                                                                              <div class="col-md-9 col-sm-10 col-xs-10">
                                                                                  <div class="progress">

                                                                                      <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="studentScholar[i].math" aria-valuemin="0"
                                                                                          aria-valuemax="100" [ngStyle]="setStatusBar(studentScholar[i].math)">
                                                                                      </div>
                                                                                  </div>
                                                                              </div>
                                                                              <div class="col-md-3 col-sm-2 col-xs-2">
                                                                                  <span class="badge bg-green pull-right">{{studentScholar[i].math}}</span>
                                                                              </div>
                                                                          </div>

                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>

                                                          <div class="box-comment">
                                                              <div class="comment-text">
                                                                  <div class="row  row-center">
                                                                      <div class="col-md-4 col-sm-12 col-xs-12">
                                                                          <span>Exploración y conocimiento del Mundo</span>

                                                                      </div>
                                                                      <div class="col-md-8 col-sm-12 col-xs-12">
                                                                          <div class="row">
                                                                              <div class="col-md-9 col-sm-10 col-xs-10">
                                                                                  <div class="progress">

                                                                                      <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="studentScholar[i].world" aria-valuemin="0"
                                                                                          aria-valuemax="100" [ngStyle]="setStatusBar(studentScholar[i].world)">
                                                                                      </div>
                                                                                  </div>
                                                                              </div>
                                                                              <div class="col-md-3 col-sm-2 col-xs-2">
                                                                                  <span class="badge bg-green pull-right">{{studentScholar[i].world}}</span>
                                                                              </div>
                                                                          </div>

                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>

                                                          <div class="box-comment">
                                                              <div class="comment-text">
                                                                  <div class="row  row-center">
                                                                      <div class="col-md-4 col-sm-12 col-xs-12">
                                                                          <span>Desarrollo Físco y Salud </span>
                                                                      </div>
                                                                      <div class="col-md-8 col-sm-12 col-xs-12">
                                                                          <div class="row">
                                                                              <div class="col-md-9 col-sm-10 col-xs-10">
                                                                                  <div class="progress">

                                                                                      <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="studentScholar[i].health" aria-valuemin="0"
                                                                                          aria-valuemax="100" [ngStyle]="setStatusBar(studentScholar[i].health)">
                                                                                      </div>
                                                                                  </div>
                                                                              </div>
                                                                              <div class="col-md-3 col-sm-2 col-xs-2">
                                                                                  <span class="badge bg-green pull-right">{{studentScholar[i].health}}</span>
                                                                              </div>
                                                                          </div>

                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <div class="box-comment">
                                                              <div class="comment-text">
                                                                  <div class="row  row-center">
                                                                      <div class="col-md-4 col-sm-12 col-xs-12">
                                                                          <span>Desarrollo Personal Y Social </span>
                                                                      </div>
                                                                      <div class="col-md-8 col-sm-12 col-xs-12">
                                                                          <div class="row">
                                                                              <div class="col-md-9 col-sm-10 col-xs-10">
                                                                                  <div class="progress">

                                                                                      <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="studentScholar[i].social" aria-valuemin="0"
                                                                                          aria-valuemax="100" [ngStyle]="setStatusBar(studentScholar[i].social)">
                                                                                      </div>
                                                                                  </div>
                                                                              </div>
                                                                              <div class="col-md-3 col-sm-2 col-xs-2">
                                                                                  <span class="badge bg-green pull-right">{{studentScholar[i].social}}</span>
                                                                              </div>
                                                                          </div>

                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <div class="box-comment">
                                                              <div class="comment-text">
                                                                  <div class="row  row-center">
                                                                      <div class="col-md-4 col-sm-12 col-xs-12">
                                                                          <span>Expresión y Apreciación Artística
                                                                          </span>
                                                                      </div>
                                                                      <div class="col-md-8 col-sm-12 col-xs-12">
                                                                          <div class="row">
                                                                              <div class="col-md-9 col-sm-10 col-xs-10">
                                                                                  <div class="progress">

                                                                                      <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="studentScholar[i].art" aria-valuemin="0" aria-valuemax="100"
                                                                                          [ngStyle]="setStatusBar(studentScholar[i].health)">
                                                                                      </div>
                                                                                  </div>
                                                                              </div>
                                                                              <div class="col-md-3 col-sm-2 col-xs-2">
                                                                                  <span class="badge bg-green pull-right">{{studentScholar[i].art}}</span>
                                                                              </div>
                                                                          </div>

                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>



                                                      </div>

                                                  </div>
                                              </div>

                                          </div>
                                      </div>


                                  </div>




                              </div>

                          </div>

                      </div>
                      <!-- /.tab-pane -->
                      <div class="tab-pane" id="tabCoop">
                          <div class="box-group" id="accordionCoop">
                              <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                              <div class="panel box box-primary" *ngFor="let coop of groupSelect.cooperations;  let i = index">
                                  <div class="box-header with-border">
                                      <h4 class="box-title">
                                          <a data-toggle="collapse" data-parent="#accordionCoop" href="#collapseCoop{{i}}">
                                              {{coop.concept}}
                                          </a>
                                      </h4>
                                  </div>
                                  <div id="collapseCoop{{i}}" class="panel-collapse collapse">
                                      <div class="box-body">
                                          <p> {{coop.description}}</p>
                                          <p> $ {{coop.amount}}</p>
                                      </div>
                                  </div>
                              </div>


                          </div>
                      </div>
                      <!-- /.tab-pane -->
                      <div class="tab-pane" id="tabTarea">
                          <div class="box-group" id="accordionTarea">
                              <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                              <div class="panel box box-primary" *ngFor="let home of groupSelect.homeworks;  let i = index">
                                  <div class="box-header with-border">
                                      <h4 class="box-title">
                                          <a data-toggle="collapse" data-parent="#accordionTarea" href="#collapseHome{{i}}">
                                              {{home.name}}
                                          </a>
                                      </h4>
                                  </div>
                                  <div id="collapseHome{{i}}" class="panel-collapse collapse">
                                      <div class="box-body">
                                          <p> {{home.description}}</p>
                                          <p> Fecha de Entrega {{home.deadline}}</p>

                                      </div>
                                  </div>
                              </div>


                          </div>
                      </div>
                      <div class="tab-pane" id="tabAviso">
                          <div class="box-group" id="accordionAviso">
                              <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                              <div class="panel box box-primary" *ngFor="let notice of groupSelect.notices;  let i = index">
                                  <div class="box-header with-border">
                                      <h4 class="box-title">
                                          <a data-toggle="collapse" data-parent="#accordionAviso" href="#collapseNotice{{i}}">
                                              {{notice.name}}
                                          </a>
                                      </h4>
                                  </div>
                                  <div id="collapseNotice{{i}}" class="panel-collapse collapse">
                                      <div class="box-body">
                                          <p> {{notice.description}}</p>
                                          <p> El dia {{notice.time}}</p>

                                      </div>
                                  </div>
                              </div>


                          </div>
                      </div>
                      <!-- /.tab-pane -->
                  </div>
                  <!-- /.tab-content -->
              </div>
          </div>
          <!-- /.box-body -->
      </div>



  </section>
</div>
