<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            #SOY
            <b>EDUCADORA</b>SEREYD
        </h1>

    </section>

    <!-- Main content -->

    <section class="content">

        <div class="box box-default" *ngIf="planifications !== undefined">
            <div class="box-header with-border">
                <h3 class="box-title box-primary">
                    <p>Mis planeaciones
                </h3>
            </div>


            <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->

            <div class="box-group" id="accordionTarea">
                <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                <div class="panel box box-primary" *ngFor="let plan of planifications;  let i = index">
                    <div class="box-header with-border">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordionTarea" href="#collapseHome{{i}}">
                                {{plan.name}}
                            </a>
                        </h4>
                    </div>
                    <div id="collapseHome{{i}}" class="panel-collapse collapse">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-sm-2 col-md-2">
                                    <div class="pull-left img-responsive">

                                        <img src="{{plan.image | imageServer}}" alt="User Image" style="width:100%">
                                    </div>
                                </div>
                                <div class="col-sm-10 col-sm-10">
                                    <p> {{plan.description}}</p>
                                </div>



                            </div>
                            <button type="button"  class="btn btn-primary" (click)="descargarArchivo($event, plan.url)">Descargar Archivo</button>
                            

                        </div>
                    </div>
                </div>



            </div>
        </div>
    </section>
</div>